{% load staticfiles %}
<html>
    <head>
        <title>Aburitoh's Profile</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="">Aburitoh's DBA Blog</a></h1> <h4>An Oracle Certified Associate</h4>
        </div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="post">
                <div class="date">
                        <p>published: 01.10.2017, 12:14</p>
                    </div>
                    <h1><a href="">Integrity of Database in Academia</a></h1>
                    <p>talk about managing big number with large study body -- downtime etc</p>
            </div>
        </div>
    </div>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">
                <div class="post">
                    <div class="date">
                        <p>published: 01.10.2017, 12:14</p>
                    </div>
                    <h1><a href="">DBA to Developer</a></h1>
                    <p>talk about managing big number with large study body -- downtime etc</p>
                </div>
        </div>
    </div>
</div>
 
<div class="content container">
    <div class="row">
        <div class="col-md-8">
                <div class="post">
                    <div class="date">
                        <p>published: 01.10.2017, 12:14</p>
                    </div>
                    <h1><a href="">Big Data and Africa Economic Development</a></h1>
                    <p>talk about managing big number with large study body -- downtime etc</p>
                </div>
        </div>
    </div>
</div>
        
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>

        <div>
            <h2>Abi's Profile</h2>
            <p>With over 7 years of IT experience, Ms. Mofor is an Oracle DBA, participating in large databases/large-scale database environments with mission-critical OLAP Systems, as well as OLTP. Managing technical architecture, she supports in system analysis, design and testing development. She is proficient and experienced in fast-pace, Agile environments - SCRUM, SDLC and Configuration Management.
Responsible for Oracle Databases application operations, Ms. Mofor possess excellent written and verbal communication skills that allow her to be a self-starter, a constant problem solver with deep critical thinking skills. The exceptional team- player, Aburitoh Mofor, is a result-driven professional who has worked across multi- platforms with duties including but not limited to: maintenance, configuration, schema management, administration, patches and upgrades, resource management performance tuning, backup and recovery, security, migration, scripting.
￼￼￼￼￼￼￼￼￼￼￼￼￼</p>
        </div>

        <div>
            <h3>Technical Skills</h3>
            <p><b>RDBMS</b> - Oracle 12c/11g R2 (11.2.0.4) /10g
<b>Languages</b> - Oracle SQL, PL/SQL, Bash & Korn Shell Scripting, Python Tuning Utilities - SQL Trace, AWR, ADDM, Explain Plan, ASH, ADRCI, TKPROF
<b>Software/Applications/Tools</b> - SQLDeveloper, SQL*Plus,
Oracle Enterprise Manager (OEM) - Cloud Control & Grid Control, SQL*Loader, Recovery Manager (RMAN), RAC, DataGuard, DataPump (expdp/impdp), Net Manager, DBUA Netca, NetStat, DBCA, Imp&Exp, TOAD, Microsoft Office, [Statistical - SAS, STATA, Atlas Ti], [Cloud Computing - Amazon Web Services (AWS)],
<b>Web Tools and Framework</b> - HTML, XML, Django, [Source Code Control Tools] - Git, Github
<b>Operating Systems</b> - Red Hat Enterprise Linux (RHEL), Solaris, Windows Technical Writing - Documentation: SOPs [Standard Operating Procedures], Environment, Object, DBA Unit Org., Application and Process Virtualization - VMware and Oracle Virtual Box</p>
        </div>
        
        <div>
            <h3>Experience</h3>
            <p>US-Africa Chamber of Commerce, Washington, DC, Oracle Database Administrator (Nov. 2014 - Sept. 2016); JBS International, Rockville, MD, Database Engineer (Mar. 2012 - Aug. 2014); US Agency of International Development, Rockville, MD, Jr. Database Administrator (Feb. 2010 - Jan. 2012); Face2Face Africa, Washington, DC, Business Analyst (Feb. 2009 - Jan. 2010)</p>
        </div>
        
        <div>
            <h3>Education & Training</h3>
            <p>Bachelors of Science - University of Maryland, 2009-2014; Oracle Database 11g Administrator Certified Associate(OCA), Oracle Database 11g Certified Expert: SQL Fundamentals I</p>
        </div>
        
    </body>
</html>